block content
    mixin about(title, text='')
            .text__part
                h3= title
                if text !== ''
                    p= text
    include ../../components/logo/logo.pug
    .grid__wrapper
        .input__part
            .left__part
                .component__wrapper
                    +about('text field', 'default')
                    include ../../components/input/input.pug
                .component__wrapper
                    +about('text field', 'hover/focus')
                    include ../../components/input/input.pug
                .component__wrapper
                    +about('dropdown')
                    include ../../components/select/select.pug
                .component__wrapper
                    +about('masked text field')
                    include ../../components/input/input.pug
                .component__wrapper
                    +about('date dropdown')
                    include ../../components/date__dropdown/date__drop
                .component__wrapper
                    +about('filter date dropdown')
                    include ../../components/filter__date/filter__date
                .component__wrapper
                    +about('subscribe text field')
                    include ../../components/subscribe/subscribe
            .center__part
                .checkbox__part
                    h3 checkbox buttons
                    include ../../components/checkbox/checkbox.pug
                    include ../../components/checkbox/checkbox.pug
                    include ../../components/checkbox/checkbox.pug
                .radio__part
                    h3 radio buttons
                    include ../../components/radio/radio.pug
                    include ../../components/radio/radio.pug
                .toggle__part
                    h3 toggle
                    include ../../components/toggle/toggle.pug
                    include ../../components/toggle/toggle.pug
        .dropdown__part
        .checkbox__part
        .comments__part