@import '../../components/logo/logo';
@import '../../components/input/input';
@import '../../components/like/like';
@import '../../components/range/range';
@import '../../components/rate/rate';
@import '../../components/select/select';
@import '../../components/toggle/toggle';

.grid__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto-fit);
    width: 1440px;
}

.input__part {
    display: flex;
    justify-content: space-between;
}

.left__part {
    display: flex;
    flex-direction: column;
    margin-left: 140px;
}

.component__wrapper {
    width: 320px;
    height: 67px;

    .text__part {
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
    }
}