block content
    include ../../components/logo/logo.pug
    .grid__wrapper
        .input__part
            .left__part
                include ../../components/input/input.pug
                include ../../components/input/input.pug
                include ../../components/select/select.pug
                include ../../components/input/input.pug
            .center__part
                .checkbox__part
                    h3 checkbox buttons
                    include ../../components/checkbox/checkbox.pug
                    include ../../components/checkbox/checkbox.pug
                    include ../../components/checkbox/checkbox.pug
                .radio__part
                    h3 radio buttons
                    include ../../components/radio/radio.pug
                    include ../../components/radio/radio.pug
                .toggle__part
                    h3 toggle
                    include ../../components/toggle/toggle.pug
                    include ../../components/toggle/toggle.pug
        .dropdown__part
        .checkbox__part
        .comments__part