include ../../components/input/input
block content
    mixin about(title, text='')
            .text__part
                h3= title
                if text !== ''
                    p= text
    include ../../components/logo/logo.pug
    .grid__wrapper
        .input__part
            .left__part
                .component__wrapper
                    +about('text field', 'default')
                    +input({class: 'input', type: 'text', placeholder: 'Ваш email', required: required})
                .component__wrapper
                    +about('text field', 'hover/focus')
                    +input({class: 'input', type: 'text', placeholder: 'Ваш email', required: required})
                .component__wrapper
                    +about('dropdown')
                    include ../../components/select/select.pug
                .component__wrapper
                    +about('masked text field')
                    +input({class: 'input', type: 'text', placeholder: 'Ваш email', required: required})
                .component__wrapper
                    +about('date dropdown')
                    include ../../components/date__dropdown/date__drop
                .component__wrapper
                    +about('filter date dropdown')
                    include ../../components/filter__date/filter__date
                .component__wrapper
                    +about('subscribe text field')
                    include ../../components/subscribe/subscribe
            .center__part
                .component__wrapper
                    +about('checkbox buttons')
                    +input({class: 'check__input', type: 'checkbox', text: 'Text'})
                    +input({class: 'check__input', type: 'checkbox', text: 'Text'})
                    +input({class: 'check__input', type: 'checkbox', text: 'Text'})
                .component__wrapper
                    +about('radio buttons')
                    +input({class: 'radio__input', type: 'radio', text: 'Text'})
                    +input({class: 'radio__input', type: 'radio', text: 'Text'})
                .component__wrapper
                    +about('toggle')
                    include ../../components/toggle/toggle
                    include ../../components/toggle/toggle
                .component__wrapper
                    +about('like button')
                    include ../../components/like/like
                    include ../../components/like/like
                .component__wrapper
                    +about('rate button')
                    include ../../components/rate/rate
                    include ../../components/rate/rate
            .right__part
                .component__wrapper
                    +about('range slider', '5000Р-10000Р')
                    include ../../components/range/range
                .component__wrapper
                    +about('buttons')
                    include ../../components/button/button
                    include ../../components/button/button
                    include ../../components/button/button
                    include ../../components/button/button
                    include ../../components/button/button
                    include ../../components/button/button
                    include ../../components/button/button
                .component__wrapper
                    +about('pagination', '1 – 12 из 100+ вариантов аренды')
                    include ../../components/pagination/pagination
        .dropdown__part
            .component__wrapper
                    +about('dropdown', 'default')
                    include ../../components/room__drop/room__drop
            .component__wrapper
                    +about('dropdown', 'expanded')
                    include ../../components/room__drop/room__drop
            .component__wrapper
                    +about('dropdown')
                    include ../../components/guests__drop/guest__drop
            .component__wrapper
                    +about('dropdown')
                    include ../../components/guests__drop/guest__drop
        .checkbox__part
            .component__wrapper
                    +about('expandable checkbox list')
                    include ../../components/check__list/check__list
            .component__wrapper
                    +about('expandable checkbox list')
                    include ../../components/check__list/check__list
            .component__wrapper
                    +about('rich Checkbox Buttons')
                    include ../../components/rich__list/rich__list
            .component__wrapper
                    +about('bullet list')
                    include ../../components/bullet__list/bullet__list
        .comments__part
            .component__wrapper
                    include ../../components/pluses/pluses
                    include ../../components/pluses/pluses
            .component__wrapper
                    include ../../components/comment/comment