.rate
    input.rate__input(type="radio", name="star" id="star1")
    label.rate__label(for="star1")
    input.rate__input(type="radio", name="star" id="star2")
    label.rate__label(for="star2")
    input.rate__input(type="radio", name="star" id="star3")
    label.rate__label(for="star3")
    input.rate__input(type="radio", name="star" id="star4")
    label.rate__label(for="star4")
    input.rate__input(type="radio", name="star" id="star5")
    label.rate__label(for="star5")