mixin select(options)
    if !options
        options = {}
    select(
        name = options.name
        class = options.class
    )
        if options.items
            each item in options.items
                option(
                    value = item.name
                ) #{item.value || item.name}

