select.select(name="person")
    option.select__item-first(value="Сколько гостей?") Сколько гостей?

select.select__date(name="person")
    option.select__item-first(value="Сколько гостей?") ДД.ММ.ГГГГ

select.select.filter__date(name="person")
    option.select__item-first(value="Сколько гостей?") 19авг. - 23авг.
