.input {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 14px;
    letter-spacing: 0.5px;
    width: 320px;
    height: 44px;
    border: 1px solid $dark-shade_25;
    border-radius: 4px;

    &::placeholder {
        font-family: 'Montserrat';
        line-height: 18px;
        color: $dark-shade_25;
    }

    &:focus,
    &:hover {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 15px;
        border-color: $dark-shade_50;
        font-family: 'Montserrat';
        line-height: 1.5;
    }

    &:focus::placeholder,
    &:hover::placeholder,
    &:active::placeholder {
        color: $dark-shade_75;
    }

    &:focus-visible {
        outline: none;
    }
}

.subscribe {
    width: 267px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9' y1='-13' x2='9' y2='31' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-position-x: 237px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.checkbox {
    display: none;
}