// Содержит стили для всех видов input
.input {
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 14px;
    letter-spacing: 0.5px;
    width: 320px;
    height: 44px;
    border: 1px solid $dark-shade_25;
    border-radius: 4px;

    &::placeholder {
        font-family: 'Montserrat';
        line-height: 18px;
        color: $dark-shade_25;
    }

    &:focus,
    &:hover {
        padding-top: 11px;
        padding-bottom: 11px;
        padding-left: 15px;
        border-color: $dark-shade_50;
        font-family: 'Montserrat';
        line-height: 1.5;
    }

    &:focus::placeholder,
    &:hover::placeholder,
    &:active::placeholder {
        color: $dark-shade_75;
    }

    &:focus-visible {
        outline: none;
    }
}

.subscribe {
    width: 267px;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 0.984375L17.0156 9L9 17.0156L7.59375 15.6094L13.1719 9.98438H0.984375V8.01562H13.1719L7.59375 2.39062L9 0.984375Z' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='9' y1='-13' x2='9' y2='31' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
    background-position-x: 237px;
    background-repeat: no-repeat;
    background-position-y: center;
}

.checkbox {
    display: none;
}

.radio {
    padding-left: 2em;
    text-align: center;

    .radio__input {
        appearance: none;
        position: absolute;

        &:checked+.radio__box {
            background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='12' height='12' rx='6' fill='url(%23paint0_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='6' y1='0' x2='6' y2='12' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: center center;
            border: 1px solid #BC9CFF;
        }
    }

    .radio__box {
        position: absolute;
        margin-left: -1.8em;
        margin-top: 12px;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, .25);
        border-radius: 100%;

    }
}

.check {
    padding-left: 2em;
    text-align: center;

    .check__input {
        appearance: none;
        position: absolute;

        &:checked+.check__box {
            background-image: url("data:image/svg+xml,%3Csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 4.40768L5.70703 8.65032L4.29282 10.0645L0.0501771 5.82189L1.46439 4.40768Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 2.99347L9.94967 4.40768L4.29282 10.0645L2.8786 8.65032L8.53546 2.99347Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='2.28636' x2='2.1715' y2='7.94321' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
            background-repeat: no-repeat;
            background-position: 4px 3px;

        }
    }

    .check__box {
        position: absolute;
        margin-left: -1.8em;
        margin-top: 10px;
        width: 20px;
        height: 20px;
        border: 1px solid rgba(31, 32, 65, .25);
        border-radius: 4px;

    }
}